# Dependencies
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.local.example
.notion-cache.json

# Next.js
.next/
out/

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Testing
coverage/

# Vercel
.vercel

# Database
postgres_data/

/generated/prisma

# Capacitor
ios/
android/
.capacitor/
